body{
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 800;
  color: white;
  padding: 20px;
  /* cursor: pointer; */
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.mov{
  transition: transform .5s;
  width: '18rem';
  margin: '2rem';
  height: '';
  color: 'white';
  cursor:'pointer';
}
.mov:hover{
  transform: scale(1.06);
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: color;
  color: white;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}
.modal-button button{
  margin: 10px;
}